
.section {
	background-color: white;
	width: 500px;
	margin: 20px auto 20px auto;
	border: 1px solid #AAA;
	padding: 20px 20px 20px 20px;
	font-family: "Droid Sans", Calibri, Helvetica, sans-serif;
}

h1 {
	font-family: "Open Sans", "Droid Sans", sans-serif;
	font-weight: 300;
	font-size: 2em;
	text-align: center;
	margin: 10px 0px;
}

h2 {
	font-family: Consolas, "Droid Sans Mono", monospace;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	font-variant: small-caps;
	margin: 20px 0px 10px 0px;
}

p {
	margin: 0px 0px 15px 0px;
}

hr {
	margin: 20px 0px 15px 0px;
	border: 0;
	border-bottom: 1px solid #AAA;
	clear: both
}

#uptime {
	font: .7em "Open Sans", Calibri, Helvetica, sans-serif;
	font-weight: 600;
	text-align: center;
}

a {
	text-decoration: underline;
}
a:link, a:visited {color: #B95555;}
a:hover, a:active {color: #000;}

#notes {
	height: 42px;
	margin: 0px auto;
}

#notes a {color: black}

.note {
	width: 42px;
	height: 42px;
	float: left;
	margin-left: 7px;
	margin-right: 7px;
	font-family: "Courier New", "Droid Sans Mono", monospace;
	text-align: center;
	background-color: #BAD6D4;
}

.note:hover {
	background-color: #348781;
	color: #FFFFFF;
}

.note .class {
	font-size: 22px;
	font-weight: bold;
}

.note .department {
	font-size: 18px;
	font-variant: small-caps;
	line-height: 1.1em;
}

#notes .name {
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	font-family: "Open Sans", Georgia, "Droid Serif", serif;
	font-weight: 600;
	background-color: #BAD6D4;
}

#notes .name:hover {
	background-color: #348781;
	color: #FFFFFF;
}

#notes a {
	text-decoration: none;
}

#no_files {
	color: #888888
}

#public_files {
	color: #AAA;
	margin: 20px 0px 0px 0px;
	padding-top: 5px;
	border-top: 1px solid #AAA;
}

.right_arrow {
	display: inline-block;
	background-image: url(custom-theme/images/ui-icons_888888_256x240.png);
	background-repeat: no-repeat;
	background-position: -32px -45px;
	height: 16px;
	width: 16px;
}

#logout {
	width: 500px;
	text-align: right;
	font-size: .8em;
	font-family: "Droid Sans", Calibri, Helvetica, sans-serif;
	position: absolute;
	text-align: right;
}

.files {
	column-count: 2;
	-webkit-column-count: 2; /* Safari and Chrome */
}

#files span {
	margin-right: 5px;
}

#login {
	margin: 20px auto;
	width: 200px;
}

#login #save {
	float: left;
}

#login #error_message {
	text-align: center;
	color: red;
	clear: both;
	margin-top: 30px;
}

#login input[type='password'] {
	width: 200px;
	margin-bottom: 10px;
}

#login input[type='submit'] {
	border: 1px solid #AAA;
	float: right;
}


.no_classes {
	color: #555;
	text-align: center;
	margin-bottom: 0px;
}

/*  Begin bottom area  
.bot
{
	display: block;
	position: absolute;
	bottom: 0;
	width: 800px;
}
.bot p
{
	color: #CCC;
	font-size: .8em;
}
.bot a:link, .bot a:visited {color: #CCC;}
.bot a:hover, .bot a:active {color: #000;}
*/
